.weatherImg{
    width: 100px;
    margin-top: 10px;
}

.temp{
    margin-top: -5px;
}


.temp{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 0px;
}

.weather-name{
    font-size: 30px;
    font-weight: 400;
    margin-top: 5px;
    color: #fff;
    margin-bottom: 0;
}

.weather-details {
  display: flex; 
  justify-content:center;
  align-items: center;
  width: 100%;
  gap: 40px;
  margin-top: 15px;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.section img {
  width: 35px;
  flex-shrink: 0;
}

.humidity-details, .wind-details {
  display: flex;
  flex-direction: column;
  gap: 2;
  margin-left: 10px;
}

.humidity, .wind {
  font-size: 22px;
  font-weight: 500;
  margin: 0;
  line-height: 1;
}

.humidity-pra, .wind-pra {
  font-size: 12px;
  margin: 0;
  opacity: 0.8;
}


.dayForecast{
    margin-top: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    padding: 5px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}