body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}